<md-sidenav id="sidebar-left"
        class="md-sidenav-left md-whiteframe-z2"
        md-component-id="left"
        md-is-locked-open="true"
        md-disable-backdrop
        md-whiteframe="4">
        <md-list flex layout="column" layout-align="space-around stretch">
          <md-toolbar class="md-whiteframe-1dp" layout-padding layout="column">
            <span class="programmHeader ">Федеральная космическая программа 2016-2025</span>
          </md-toolbar>
          <md-list-item ng-repeat="dir in directories" flex layout="column"  layout-align="center stretch"  ng-class="{nonActive: dir.isNonActive}">
              <md-button ng-href="{{getHref(dir.state)}}" layout="column">
              <ng-md-icon icon={{::dir.icon}} size=30 layout="column" layout-align="center center"></ng-md-icon>
                <span  class="font-sidebar">{{::dir.name}}</span>
              </md-button>
          </md-list-item>
        </md-list>
</md-sidenav>
