<h1 class="main-header"> Федеральная космическая программа 2016-2025 </h1>
<div layout="column" layout-align="center center" style="height:70vh">
    <div layout="row" style="height:90%; width: 90%"  layout-align="center center">
      <div class='box-air'>
      <div class='square-box md-whiteframe-2dp'>
        <div class='square-content'>
            <md-button ng-href="{{getHref('home.projectStructure')}}" layout="column">
              <ng-md-icon icon="business_center" size=120 layout="column" layout-align="center center"></ng-md-icon>
              <span  class="font-sidebar">Структура программы</span>
            </md-button>
        </div>
      </div>
    </div>
    <div class='box-air'>
      <div class='square-box md-whiteframe-2dp'>
        <div class='square-content'>
            <md-button ng-href="{{getHref('home.spaceComplexStructure')}}" layout="column">
              <ng-md-icon icon="brightness_5" size=120 layout="column" layout-align="center center"></ng-md-icon>
              <span  class="font-sidebar">Космические комплексы</span>
            </md-button>
        </div>
        </div>
      </div>
      <div class='box-air'>
      <div class='square-box md-whiteframe-2dp'>
        <div class='square-content'>
            <md-button ng-href="{{getHref('home.financeStructure')}}" layout="column">
              <ng-md-icon icon="money" size=120 layout="column" layout-align="center center"></ng-md-icon>
              <span  class="font-sidebar">Финансирование</span>
            </md-button>
        </div>
        </div>
      </div>
      <div class='box-air'>
      <div class='square-box md-whiteframe-2dp'>
        <div class='square-content'>
            <md-button layout="column" ng-href="{{getHref('home.orderers')}}">
              <ng-md-icon icon="people" size=120   layout="column" layout-align="center center"></ng-md-icon>
              <span  class="font-sidebar">Заказчики</span>
            </md-button>
        </div>
        </div>
      </div>
    </div>
    <div layout="row" style="height:90%; width: 90%"  layout-align="center center">
      <div class='box-air'>
      <div class='square-box md-whiteframe-2dp'>
        <div class='square-content'>
            <md-button layout="column" style="pointer-events:none">
              <ng-md-icon icon="access_time" size=120 layout="column" layout-align="center center" style="fill:#CCCCCC"></ng-md-icon>
              <span  class="font-sidebar">Планирование</span>
            </md-button>
        </div>
        </div>
      </div>
      <div class='box-air'>
      <div class='square-box md-whiteframe-2dp'>
        <div class='square-content'>
            <md-button ng-href="{{getHref('home.events')}}" layout="column">
              <ng-md-icon icon="event" size=120 layout="column" layout-align="center center"></ng-md-icon>
              <span  class="font-sidebar">События</span>
            </md-button>
        </div>
        </div>
      </div>
      <div class='box-air'>
      <div class='square-box md-whiteframe-2dp'>
        <div class='square-content'>
            <md-button ng-href="{{getHref('home.documents')}}" layout="column">
              <ng-md-icon icon="insert_drive_file" size=120 layout="column" layout-align="center center"></ng-md-icon>
              <span  class="font-sidebar">Документация</span>
            </md-button>
        </div>
        </div>
      </div>
    </div>
  </div>
