<split>
  <div size="20">
    <input ng-show="isInputVisible" class="input" style="width:100%" ng-keyup="search()" ng-model="searchString"></input>
    <ng-md-icon icon="search" layout="column"  layout-align="left left" ng-click="makeVisible()" ng-show="!isInputVisible"></ng-md-icon>
<accordion-tree data=treeData params=treeParams special=specialDict ></accordion-tree>
  </div>
  <div size="80">
      <div flex ui-view="complexInfo"></div>
      <div ng-show="isBlank">
        <div class="structure-text">
          <p class="header-text">Вы находитесь в разделе "Космические комплексы"</p>
          <p class="main-text"> В левой части экрана расположено дерево, которое отражает структуру всех космических комплексов, описанных в Федеральной Космической Программе 2016-2025. </p>
          <p class="main-text"> Космические комплексы  разделяются на два вида: космические средства и элементы наземной космической инфраструктуры.   </p>
          <p class="main-text">При нажатии на название разделов на экран выводится их состав. При нажатии на стрелочку справа от названия, дерево раскрывается и становятся видны вложенные в него объекты.
                                Далее поиск можно осуществлять как по дереву, так и по данным справа от него. </p>
          <p class="main-text">Чтобы посмотреть информацию по конкретному космическому комплексу, достаточно нажать на его название, после чего откроется карточка этого комплекса.
          Также над деревом находится поле поиска. Введя в это поле название космического комплекса, в дереве останутся только интересующие Вас записи.</p>
        </div>
      </div>
  </div>
</split>
