<split>
  <div size="20">
    <input ng-show="isInputVisible" class="input" style="width:100%" ng-keyup="search()" ng-model="searchString"></input>
    <ng-md-icon icon="search" layout="column"  layout-align="left left" ng-click="makeVisible()" ng-show="!isInputVisible"></ng-md-icon>
    <accordion-tree data=treeData params=treeParams special=specialDict ></accordion-tree>
  </div>
  <div size="80">
      <div flex ui-view="orderersInfo"></div>
      <div ng-show="isBlank">
        <div class="structure-text">
          <p class="header-text">Вы находитесь в разделе "Заказчики"</p>
          <p class="main-text"> В левой части экрана расположен список всех заказчиков проектов Федеральной Космической Программы 2016-2025.</p>
          <p class="main-text"> Чтобы посмотреть информацию по заказчику, достаточно нажать на его название, после чего откроется карточка этого заказчика, в которой отображаются общие сведения, контактные данные и связанные проекты.</p>
          <p class="main-text"> Также над списком находится поле поиска. Введя в это поле название организации заказчика, в списке останутся только интересующие Вас записи.</p>
        </div>
      </div>
  </div>
</split>
