#table-finance {
text-align: center;
}
.ui-grid-render-container-left {
  text-align: left;
}
.ui-grid-header-cell-wrapper {
  background-color: rgb(193, 193, 193);
}
.button-budget{
width:113px;
font-weight:bold!important;
margin-left: 1px!important;
}
.button-own{
width:113px;
font-weight:bold!important;
margin-left: 2px!important;
}



  div.grow.financePage {
    min-height: 127px;
  }
  div.grow.hide-panel.financePage {
    min-height: 70px;
  }

.change-layout-s {
  display:flex;
  flex-direction: row
}

  .change-layout-m {
    display: flex;
    flex-direction: row;
  }
@media (max-width: 1600px) {
  .change-layout-m {
    flex-direction: column;
  }
}

@media (max-width: 1500px) {
  .change-layout-s {
    flex-direction: column
  }
}
