<split>
  <div size="20">
<input ng-show="isInputVisible" class="input" style="width:100%" ng-keyup="search()" ng-model="searchString"></input>
<ng-md-icon icon="search" layout="column"  layout-align="left left" ng-click="makeVisible()" ng-show="!isInputVisible"></ng-md-icon>
<accordion-tree data=treeData params=treeParams special=specialDict ></accordion-tree>
  </div>
  <div size="80">
      <div flex ui-view="projectInfo"> </div>
      <div ng-show="isBlank">
        <div class="structure-text">
          <p class="header-text">Вы находитесь в разделе "Структура программы"</p>
          <p class="main-text"> В левой части экрана расположено дерево, которое отражает структуру Федеральной Космической Программы 2016-2025.</p>
          <p class="main-text">  Программа состоит из трех разделов. Первый раздел включает в себя 8 подразделов, второй - 5 подразделов. У третьего раздела подразделов нет.  </p>
          <p class="main-text">При нажатии на название раздела или подраздела, на экран выводится информация о его финансировании.
          При нажатии на стрелочку справа от названия, дерево раскрывается и становятся видны вложенные в него объекты: либо подразделы, либо проекты.</p>
          <p class="main-text"> Чтобы посмотреть информацию по проекту, достаточно нажать на его название, после чего откроется карточка этого проекта.
          Также над деревом находится поле поиска. Введя в это поле название проекта, подраздела или раздела, в дереве останутся только интересующие Вас записи.</p>
        </div>
      </div>
</split>
