.documentsGrid {
  height: ~"calc(100vh - 253px)"!important;
  min-height: 330px;
  .ui-grid-viewport {
    overflow-x: hidden!important;
  }
  .ui-grid-cell-contents {
    white-space: normal;
  }
}
.md-subheader {
    color: #343434;
    font-size: 18px!important;
    font-weight: bold!important;
    letter-spacing: 0.010em!important;
    line-height: 1.2em;
    font-family: 'Orienta', sans-serif;
    background-color: #c1c1c1;
  }
.news-scroll{
  overflow-y:scroll;
}
.news-list{
  text-align:center;
  padding: 0px 0px 8px 15px!important;
  margin-top: 100px;
}
.news-list-button{
  border:outset;
}
