<div class="btn-group" role="group" aria-label="...">
  <button type="button" ng-class="{active: budgetShown}" ng-click="showBudget()" class="btn btn-default button-budget">Бюджет</button>
  <button type="button" ng-class="{active: !budgetShown}" ng-click="showOwn()" class="btn btn-default button-own">Внебюджет</button>
</div>

<c-data-table need-all-count="true" ng-if="budgetShown"  grid-height="calc(100vh - 153px)" need-links=true link-blocker=project data="financeBudget" basename="basename" id="table-finance"></c-data-table>
<c-data-table need-all-count="true" ng-if="!budgetShown"  grid-height="calc(100vh - 153px)" need-links=true link-blocker=project data="financeOwn" basename="basename" id="table-finance"></c-data-table>
