.popup1 {
  background-color: #ffb833;

  .btn1 {
    color : rgb(49, 46, 46);
    background-color: rgba(255, 222, 121, 0.96);
    border-radius: 10px 0 0 10px;
    font-size: 16px;
  }
  .modal-footer{
    padding:5px ;
    border-top:  1px solid black;
  }
  .modal-header{
    padding:7px;
  }
  .modal-title{
    font-weight: bold;
  }
  .table-title{
    font-weight: bold;
  }
  .custom-header{
    padding:5px;
    border-bottom:  1px solid black;
  }
  .footer-lable{
    margin-right: 5px;
    margin-top: 1px;
  }
}
