<div class="popup1">
<div class="custom-header" layout=row  layout-align="space-between center">
  <div></div>
  <h4 class="modal-title" >
  	Название организации
  </h4>
  <ng-md-icon icon="clear" ng-click="close()" layout="column"  layout-align="center center"></ng-md-icon>
</div>
	<div class="modal-body" layout-padding>
    <div>
      	<label class="control-label" for="course">Ответственный:</label>
    </div>
    <div>
        <label class="control-label" for="course">Телефон:</label>
    </div>
	</div>

	<div class="modal-footer" >

	<button type="button" class="btn btn-default btn1" ng-click="done()" >Перейти</button>
</div>
</div>
